body { background: #973809; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 43px; display: flex; }
.block-router-0 { color: #59ce46; font-size: 17px; margin-bottom: 5px; }
.block-validator-1 { color: #50a570; font-size: 14px; margin-bottom: 5px; }
.block-cache-2 { color: #23cb88; font-size: 12px; margin-bottom: 5px; }
.block-filter-3 { color: #f779e7; font-size: 18px; margin-bottom: 5px; }
.block-shipping-4 { color: #781002; font-size: 21px; margin-bottom: 5px; }